.font-work-sans {
    font-family: "Work Sans", sans-serif;
}




/* shared style */

/* .sidespace {
    padding: 0px 227px 0px 225px;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.brand,
.banner {
    max-width: 1120px;
    margin: 0 auto;
}

.btn-primary {
    background-color: #FF900E;
    padding: 21px 25px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    margin-bottom: 60px;
}

main {
    max-width: 1120px;
    margin: 0 auto;
}


/* navbar style */
header {
    background-color: rgba(255, 144, 14, 0.1);
}

.brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
}

.brand h2 {
    font-size: 3rem;
    color: #131313;
}

.nav-link {
    display: flex;
    text-decoration: none;
    color: #424242;
    font-weight: 500;

}

.navbar {
    display: flex;
    list-style: none;
    gap: 60px;

}

/* banner */
.banner {
    /* background-color: rgba(255, 144, 14, 0.1); */
    padding-top: 116px;

}

.banner-content {
    max-width: 862px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.banner-content h1 {
    font-size: 4rem;
    color: #131313;

}

.banner-content p {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin-top: 1rem;
    margin-bottom: 32px;
}

.banner img {
    max-width: 1440px;
    width: 100%;
}

/* team */

.teams {
    display: flex;
    gap: 60px;
    align-items: center;
}

.team-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    border-radius: 8px;
    margin-top: 83px;
}

.team-content {
    margin-left: 10px;
    max-width: 530px;
}

.team-content h1 {
    font-size: 2.8rem;
    padding-bottom: 24px;
}

.team-content p {
    padding-bottom: 32px;
    font-size: 16px;
    color: #727272;
}

.Quick {
    font-size: 2.8rem;
    color: #727272;
    font-weight: 700;
}

.features {
    font-size: 2.8rem;
    color: #FF900E;
    font-weight: 700;

}

/* second part related style */

.seacond {
    display: flex;
    margin-top: 130px;
}

.seacond-title {
    font-size: 2.5rem;
    color: #131313;


}

/* .second-title { 
    border-left: 5px solid #FF900E;
    gap: 21px;
} */
.seacond-heading p {
    font-size: 16px;
    color: #727272;
    padding: 21px 0 21px 0;
}

.card h4 {
    font: 1.2rem;
    font-weight: 600;
    color: #131313;
}

.card p {
    font-size: 1rem;
    color: #727272;

}

.card {
    border-radius: 8px;
    box-shadow: 0 2px 3px 0;
    padding: 30px;
}



@media screen and (max-width: 576px) {

    .navbar,
    .brand,
    .nav-link,
    .teams {
        flex-direction: column;

    }

    .team-image {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-content {
        margin: 20px;
    }

}