.font-work-sans {
    font-family: "Work Sans", sans-serif;
}




/* shared style */

/* .sidespace {
    padding: 0px 227px 0px 225px;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.brand,
.banner {
    max-width: 1120px;
    margin: 0 auto;
}

.btn-primary {
    background-color: #FF900E;
    padding: 21px 25px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    margin-bottom: 60px;
}

main {
    max-width: 1120px;
    margin: 0 auto;
}


/* navbar style */
header {
    background-color: rgba(255, 144, 14, 0.1);
}

.brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
}

.brand h2 {
    font-size: 3rem;
    color: #131313;
}

.nav-link {
    display: flex;
    text-decoration: none;
    color: #424242;
    font-weight: 500;

}

.navbar {
    display: flex;
    list-style: none;
    gap: 60px;

}

/* banner */
.banner {
    /* background-color: rgba(255, 144, 14, 0.1); */
    padding-top: 116px;

}

.banner-content {
    max-width: 862px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.banner-content h1 {
    font-size: 4rem;
    color: #131313;

}

.banner-content p {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin-top: 1rem;
    margin-bottom: 32px;
}

.banner img {
    max-width: 1440px;
    width: 100%;
}

/* team */

.teams {
    display: flex;
    gap: 60px;
    align-items: center;
}

.team-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    border-radius: 8px;
    margin-top: 83px;
}

.team-content {
    margin-left: 10px;
    max-width: 530px;
}

.team-content h1 {
    font-size: 2.8rem;
    padding-bottom: 24px;
}

.team-content p {
    padding-bottom: 32px;
    font-size: 16px;
    color: #727272;
}

.Quick {
    font-size: 2.8rem;
    color: #727272;
    font-weight: 700;
}

.features {
    font-size: 2.8rem;
    color: #FF900E;
    font-weight: 700;

}

/* second part related style */

.seacond {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    margin-top: 130px;
    /* margin-left: 54px; */
}


.seacond-title {
    font-size: 2.5rem;
    color: #131313;
}

/* .second-title { 
    border-left: 5px solid #FF900E;
    gap: 21px;
} */
.seacond-heading p {
    font-size: 16px;
    color: #727272;
    padding: 21px 0 21px 0;

}

.card h4 {
    font: 1.2rem;
    font-weight: 600;
    color: #131313;
    padding-bottom: 10px;
}

.card p {
    font-size: 1rem;
    color: #727272;
}

.card {
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;

}

.seacond-img {
    width: 100%;
}

.facts {
    padding-top: 130px;
    max-width: 1120px;

}

.facts h3 {
    font: 45px;
    font-weight: bold;
    color: #131313;
}

.fact-heading {
    font: 1rem;
    font-weight: 400;
    color: #727272;
    padding-bottom: 100px;
    padding-top: 24px;
}

.fact-text h3 {
    font-size: 2.8rem;
    color: #131313;
}

.fact-card {
    border: 2px solid #FF900E;
    padding: 30px;
    width: 215px;
    height: 215px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 90px;


}

.fact-card h4 {
    font-size: 2.8rem;
    font-weight: 600;
    color: #131313;
    /* margin-top: 10px;
    margin-bottom: 5px; */
}

.fact-card p {
    font-size: 1rem;
    font-weight: 500;
    color: #727272;
    /* margin-top: 10px;
    margin-bottom: 5px; */
}

.fact-card h4 {
    font-size: 35px;
    font-weight: 600;
    color: #131313;
    /* margin-top: 10px;
    margin-bottom: 5px; */
}

.sponsor {
    max-width: 1120px;
    margin: 0 auto;
}

.sponsor-content h3 {
    font-size: 2.1rem;
    font-weight: 600;
    color: #131313;
    gap: 14px;

}

.sponsor-content p {
    font-size: 1rem;
    font-weight: 300;
    color: #424242;
    padding-bottom: 14px;
    padding-top: 14px;

}

.sponsor-content {
    text-align: center;
    margin-top: 100px;
}

.sponsor-img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    gap: 100px;

    max-width: 1120px;
    filter: grayscale(100%);
    justify-content: space-around;
}

.footer {
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 216px;
    width: 1440px;
    height: 80px;
    background-color: #FFF4E7;
}

.footer p {
    font-size: 0.6rem;
    font-weight: 300;
    color: #424242;
    padding: 38px 410px 38px 410px;

}


@media screen and (max-width: 576px) {

    .navbar,
    .brand,
    .nav-link,
    .teams,
    .seacond {
        flex-direction: column;

    }

    .team-image,
    .fact-container,
    .sponsor-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .sponsor-img,
    .fact-container {
        justify-content: center;
    }

    .team-content {
        margin: 20px;
    }

    .seacond-img {
        width: 100%;
    }

    .fact-text {
        padding-top: 200px;
    }
}